/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    %a.navbar-brand{:href => "#"} RubyGems
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            Letter Opener Web
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{ href: letter_opener_web_path, target: "_blank" } Mailbox

/ Page Content
.container
  .row
    .col-lg-4.text-center
      %h1.mt-5 Demo
    .col-lg-8
      %br
      %p.lead 
        Try to send a message and click the mailbox on the top right hand corner.
        %br
        %a{href: @github_link}=@github_link
      %ul.list-unstyled
        %li Version: v1.3.4 
        %li Last Updated: 16th Nov 2018
  .row
    .col-lg-12
      #letter_form.jumbotron
        = render :partial => '/messages/form', :locals => { :message => @message }
